.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 4px #000 solid;
}

#header button {
    float: right;
    margin-top: 40px;
}

.post {
    margin-bottom: 70px; 
}

.header {
    margin-bottom: 10px;
    position: relative;
    background-color: #eeedec;
    width: 800px;
    height: 250px;
}

img {
    opacity: 0.4;
    width: 800px;
    height: 250px;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    text-decoration: underline overline;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

span.right {
    float: right;
    color: #B0B0B0;
    margin-bottom: 0px;
}

span.details {
    margin: 2px;
    color: #787878;
    font-size: 15px;
    font-style: italic;
    display: block;
}

form {
    background: #fff;
    padding: 20px;
    margin-top: 30px;

}

form button {
    background: #333;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px; 
}

form button:hover {
    background: #555;
}
